.container{
    width: 540px;
    margin: auto;
    margin-top: 80px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 9px;
    padding: 40px 50px;
}
.container hr{
    height: 2px;
    border: none;
    background: #707070;  
}
.container h2 {
    font-size: 27px;
    font-weight: 500;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 10px;
    border: 1px solid #686868;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    cursor: pointer;
}

.container button{
    margin: auto;
    width: 250px;
    height: 65px;
    background: #553f9a;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
.container .index {
    margin: auto;
    font-size: 18px;
}
.container .correct{
    background: #dffff2;
    background-color: #00d397;
}
.container .wrong{
    background: #FFEBEB;
    background-color: #FF4A4A;
}
